extends layout
block content
	h1= title
	label(for = 'redditUrl') URL:&nbsp;
	input#redditUrl.searchField(
		type = 'url',
		placeholder = 'something like http://www.reddit.com/r/javascript/.json',
		required)
	h3 Parameters
	label(for = 'operationsSelect') Operation:&nbsp;
	select#operationsSelect
		- each val, key in params.operations
			option(value = val)= val
	br
	br
	div#aggregationPanel
		include ./includes/aggregationPanel.jade
	div#sortingPanel
		include ./includes/sortingPanel.jade

	form#_submitForm(method="POST", action="/read")

	script document.params = !{JSON.stringify(params)}
	script(src='/javascripts/app.js')